@model CMZero.Web.Models.ViewModels.DashboardViewModel

@{
    ViewBag.Title = @Model.GetLabel("PageTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.GetLabel("MainH1")</h1>

@*Display organisation name*@
<h2>@Model.GetLabel("OrganisationInformationLabel") - @Model.Organisation.Name</h2>

@*Display applications to work with*@
@Model.GetLabel("ApplicationsTitle")
@{
    foreach (var application in Model.Applications)
    {
        <p><a href="/dashboard/application/@application.Id">@application.Name</a></p>
    }
}