@model CMZero.Web.Models.ViewModels.ApplicationViewModel

@{
    ViewBag.Title = Model.GetLabel("PageTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.GetLabel("MainH1")</h1>

@{
    if (@Model.Success.HasValue)
    {
        if (@Model.Success.Value)
        {
    <div class="alert alert-success">
        <a class="close">×
        </a>
        @Html.Raw(Model.SuccessMessage)
    </div>

        }
        else
        {
    <div class="alert alert-error">
        <a class="close">×
        </a>@Html.Raw(Model.FailureMessage)
    </div>
        }
    }
}



@using (Html.BeginForm("Index", "Application", FormMethod.Post, new { @class = "form-horizontal well" }))
{
    <fieldset>
        <input type="hidden" value="@Model.Application.Id" id="applicationId" name="applicationId"/>
        <legend>@Model.GetLabel("LegendText")</legend>
        <div class="control-group">
            <label class="control-label" for="nameInput">@Model.GetLabel("NameLabel")</label>
            <div class="controls">
                <input class="input-xlarge" id="nameInput" name="nameInput" type="text" placeholder="@Model.GetLabel("NamePlaceholder")" value="@Model.Application.Name">
            </div>
        </div>
        <div class="control-group">
            @Html.Label("activeCheckbox", Model.GetLabel("ActiveLabel"), new Dictionary<string, object> { { "class", "control-label" } })
            @*<label class="control-label" for="activeCheckbox">@Model.GetLabel("ActiveLabel")</label>*@
            <div class="controls">
                @Html.CheckBox("activeCheckbox", Model.Application.Active)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">@Model.GetLabel("ApiKeyLabel")</label>
            <div class="display-label">
                @Model.Application.ApiKey
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Model.GetLabel("CreatedLabel")</label>
            <div class="display-label">
                @Model.Application.Created
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Model.GetLabel("UpdatedLabel")</label>
            <div class="display-label">
                @Model.Application.Updated
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" id="SubmitLogin">@Model.GetLabel("SubmitButtonText")</button>
            <button type="reset" class="btn">Cancel</button>
        </div>

    </fieldset>
    }
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>@Model.GetLabel("CollectionsTableNameColumnHeader")</th>
                <th>@Model.GetLabel("CollectionsTableActiveColumnHeader")</th>
                <th>@Model.GetLabel("CollectionsTableLastUpdatedColumnHeader")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in Model.Collections)
            {
            <tr>
                <td>@collection.Name</td>
                <td>@collection.Active</td>
                <td>@collection.Updated</td>
                <td><a href="/Dashboard/Collection/@collection.Id">edit</a></td>
            </tr>
            }
        </tbody>
    </table>

